@import url("https://fonts.googleapis.com/css2?family=Kufam:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;700;900&family=Tajawal:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 10px;
}
body {
  font-family: "Tajawal", sans-serif;
  background: #d9e2ec;
}
h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
  color: #f0f4f8;
}
h3 {
  font-size: 2rem;
  line-height: 1.8;
  margin-bottom: 2rem;
  color: #d5d5d5;
}
p {
  font-size: 1.6rem;
  color: #345375;
  line-height: 2;
}
.nav-container {
  background: #334e68;
  color: #f0f4f8;
}
nav {
  width: 90%;
  margin: 0 auto;
  max-width: 1366px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  font-size: 1.6rem;
}
nav .logo {
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  color: #f0f4f8;
  flex: 2;
  margin-bottom: 0;
  font-size: 50px;
  cursor: pointer;
}
nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  flex: 1;
  margin-bottom: 30px;
  margin-top: 35px;
}
nav ul li a {
  color: #f0f4f8;
  text-decoration: none;
  transition: 0.4s;
  margin-right: 20px;
  font-size: 15px;
}
nav ul li a:hover {
  color: orange;
}
.hero {
  height: 90vh;
  position: relative;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  animation: herobg 5s ease-in;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)
    ),
    url("./img/dvv.jpeg");
  background-repeat: no-repeat;
  z-index: -1;
  background-size: cover;
}
.content {
  width: 90%;
  margin: 0 auto;
  max-width: 1366px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 90vh;
}
h1 span,
h3 span {
  color: #27ab83;
}
.button a {
  display: inline-block;
  text-decoration: none;
  color: #243b53;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.75rem 3rem;
  width: 152px;
  height: 42px;
  background: #27ab83;
  border-radius: 20px;
  text-align: center;
  position: relative;
  transition: 1s;
}
.button a:hover {
  transform: scale(1.1);
  background: #0e5540;
}
.qualities {
  width: 90%;
  margin: 4rem auto;
  max-width: 1366px;
  height: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.qualities h2 {
  font-size: 3rem;
}
.qualitie-content {
  display: flex;
  justify-content: space-between;
  grid-gap: 2rem;
  padding-top: 5rem;
}
.qualitie {
  background: #bcccdc;
  padding: 4rem 0;
  width: 30%;
}
.qualitie p {
  text-align: center;
  width: 70%;
  margin: 1rem auto;
}
.qualitie h3 {
  color: black;
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 0;
}
.header-contaner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-contaner i {
  font-size: 2.2rem;
  margin-right: 1rem;
  color: #27ab83;
  position: relative;
  top: -2px;
}
.about-us-2 {
  width: 90%;
  max-width: 1366px;
  margin: 0 auto;
  height: 50vh;
  display: flex;
  justify-content: space-between;
}
.about-us-1 {
  background: #334e68;
}
.about-content h2 {
  color: #d9e2ec;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-content p {
  margin-top: 1rem;
  width: 80%;
  color: #d5d5d5;
}
.about-us-2 img {
  width: 100%;
  height: 100%;
}
.btm {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  color: #243b53;
  background: #27ab83;
}
.btm:hover {
  background: #2fca9c;
}
.btm:active {
  transform: scale(0.98);
}

.contact {
  width: 90%;
  max-width: 1366px;
  margin: 3rem auto;
  height: 100%;
  padding: 2rem 0;
  text-align: center;
}
.contact h2 {
  font-size: 3rem;
}
label,
input,
textarea {
  font-family: inherit;
  font-size: 1.6rem;
}
form {
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
  width: 100%;
}
form .btm {
  width: 100px;
  align-self: center;
}
input,
textarea {
  width: 80%;
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: 0.75rem 2rem;
  margin: 0 auto;
}
label,
input,
textarea {
  margin-bottom: 1.5rem;
}
footer {
  background: #243b53;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
footer p {
  color: #d9d9d9;
}
@keyframes herobg {
  from {
    scale: 1.2;
  }
  to {
    scale: 1;
  }
}
@media screen and (max-width: 1400px) {
  .hero .content {
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 1184px) {
  nav ul {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 450px) {
  nav ul {
    flex-direction: row;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  nav ul li a {
    margin-right: 11px;
  }
}
@media screen and (min-width: 450px) and (max-width: 750px) {
  nav ul {
    flex-direction: row;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  nav ul li a {
    margin-right: 17px;
    font-size: 18px;
  }
}
@media screen and (min-width: 751px) and (max-width: 1195px) {
  nav ul {
    flex-direction: row;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  nav ul li a {
    margin-right: 50px;
    font-size: 25px;
  }
}
@media screen and (max-width: 984px) {
  .qualitie-content {
    flex-wrap: wrap;
  }
  .qualitie {
    width: 100%;
  }
}
@media screen and (max-width: 736px) {
  .about-us-2 img {
    display: none;
  }
  .about-content {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero h1 {
    font-size: 3.5rem;
  }
}
